# Dependencies
node_modules/

# Build output
build/

# Android
android/build/
android/.gradle/
android/local.properties

# iOS
ios/build/
ios/Pods/
*.xcworkspace
*.xcuserdata

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
